
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_a.fdx
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_a.fnm
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_a.nvm
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_a.si
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_a_Lucene41_0.tip
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_b.cfe
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_b.si
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_c.cfe
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_c.si
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_d.cfe
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_d.si
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_e.cfe
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_e.si
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_f.cfe
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_f.si
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_g.cfe
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_g.si
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_h.cfe
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_h.si
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_i.cfe
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_i.si
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_k.fdt
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_k.fdx
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_k.fnm
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_k.nvd
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_k.nvm
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_k.si
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_k_Lucene41_0.doc
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_k_Lucene41_0.pos
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_k_Lucene41_0.tim
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_k_Lucene41_0.tip
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/segments.gen
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/segments_k
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/segments_m
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/src/main/java/repositories/MessageRepository.java
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/src/main/java/services/ActorService.java
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/src/main/java/services/AdministratorService.java
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/src/main/java/services/MessageService.java
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/src/main/java/services/PhasesService.java
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/src/main/java/services/TutorialService.java
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/src/main/java/services/WarrantyService.java
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/src/main/java/utilities/Utiles.java
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/src/main/resources/Entities.map
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/src/main/webapp/images/Thumbs.db
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_a.fdx
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_a.fnm
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_a.nvm
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_a.si
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_a_Lucene41_0.tip
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_b.cfe
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_b.si
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_c.cfe
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_c.si
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_d.cfe
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_d.si
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_e.cfe
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_e.si
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_f.cfe
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_f.si
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_g.cfe
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_g.si
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_h.cfe
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_h.si
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_i.cfe
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/_i.si
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/segments.gen
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/domain.FixUpTask/segments_k
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/src/main/java/repositories/MessageRepository.java
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/src/main/java/services/ActorService.java
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/src/main/java/services/AdministratorService.java
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/src/main/java/services/MessageService.java
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/src/main/java/services/PhasesService.java
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/src/main/java/services/TutorialService.java
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/src/main/java/services/WarrantyService.java
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/src/main/java/utilities/Utiles.java
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/src/main/resources/Entities.map
L05 Deliverable - Views/Project/Aleks/Acme-HandyWork/src/main/webapp/images/Thumbs.db
